div {
    background-color: lightgrey;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;

}
  
button{
    background-color: #4CAF50;
    color: white;
    margin: 4px 3px;
    size: 50px;
}

input{
    border: none;
    color: black;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: grid;
    font-size: 10px;
    margin: 2px; 

}